.navbar-brand {
    @include media-breakpoint-down(md) {
        img {
            max-width: 150px;
        }
    }
}

#header {
    background: url(#{$path-ui}bg-header.jpg) center 0 no-repeat;
    background-size: cover;
    @include media-breakpoint-down(md) {
        .logo {
            max-height: 50px;
        }
    }
}

#kv {
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0 0 3px rgba($black,.5);
    text-transform: uppercase;
    font-family: $font-family-monospace;
    &.kv-about {
        background-image: url(#{$path-ui}kv-inpage.jpg);
    }
    &.kv-product {
        background-image: url(#{$path-ui}kv-inpage.jpg);
    }
    &.kv-customer {
        background-image: url(#{$path-ui}kv-inpage.jpg);
    }
    &.kv-news {
        background-image: url(#{$path-ui}kv-inpage.jpg);
    }
    &.kv-contact {
        background-image: url(#{$path-ui}kv-inpage.jpg);
    }
    &.kv-article {
        background-image: url(#{$path-ui}kv-inpage.jpg);
    }
}

#customer {
    padding-bottom: 100px;
    @include retina-2x-background-image("#{$path-ui}bg-footer", "png", 1920px, 62px);
    background-position: center 100%;
    background-repeat: no-repeat;
}

#footer {
    .nav-item {
        margin: .25rem 0;
        border-left: 1px solid $gray-600;
        &:first-child,
        &:only-child {
            border-left: 0;
            .nav-link {
                padding-left: 0;
            }
        }
    }
    .nav-link {
        padding: 0 .5rem;
        line-height: 1;
    }
}