<div class="push container-fluid py-10 bg-white" id="customer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title mb-6">Our Customer</div>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 text-center mb-3">
                <img class="img-fluid" src="assets/img/uploads/logo-tsmc.png" alt="TSMC">
            </div>
            <div class="col-6 col-sm-4 col-lg-2 text-center mb-3">
                <img class="img-fluid" src="assets/img/uploads/logo-umc.png" alt="UMC">
            </div>
            <div class="col-6 col-sm-4 col-lg-2 text-center mb-3">
                <img class="img-fluid" src="assets/img/uploads/logo-nanya.png" alt="Nanya">
            </div>
            <div class="col-6 col-sm-4 col-lg-2 text-center mb-3">
                <img class="img-fluid" src="assets/img/uploads/logo-ase.png" alt="日月光集團">
            </div>
            <div class="col-6 col-sm-4 col-lg-2 text-center mb-3">
                <img class="img-fluid" src="assets/img/uploads/logo-spil.png" alt="矽品精密">
            </div>
            <div class="col-6 col-sm-4 col-lg-2 text-center mb-3">
                <img class="img-fluid" src="assets/img/uploads/logo-auo.png" alt="AUO">
            </div>
            <div class="col-12 text-center">
                <a class="btn btn-outline-primary rounded px-6" href="">
                    more <i class="icon-more-primary"></i>
                </a>
            </div>
        </div>
    </div>
</div>