<div class="push container-fluid py-10 index-news">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="d-flex align-items-center justify-content-between mb-5 pb-2 title title-news">
                    <div class="h4">News</div>
                    <a class="btn btn-outline-primary rounded py-1" href="">
                        more <i class="icon-more-primary"></i>
                    </a>
                </div>
                <div class="list-group list-group-flush list-news">
                    <a href="[!--titleurl--]" class="list-group-item list-group-item-action">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-12 col-lg-9">
                                <div class="text-row-1">
                                    [!--smalltext--][!--smalltext--][!--smalltext--][!--smalltext--][!--smalltext--][!--smalltext--]
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 text-lg-right">
                                <small>[!--newstime--]</small>
                            </div>
                        </div>
                    </a>
                    <a href="[!--titleurl--]" class="list-group-item list-group-item-action">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-12 col-lg-9">
                                <div class="text-row-1">
                                    [!--smalltext--]
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 text-lg-right">
                                <small>[!--newstime--]</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="col-12 col-lg-6">
                <div class="d-flex align-items-center justify-content-between mb-5 pb-2 title title-article">
                    <div class="h4">Article</div>
                    <a class="btn btn-outline-success rounded py-1" href="">
                        more <i class="icon-more-success"></i>
                    </a>
                </div>
                <div class="list-group list-group-flush list-news list-article">
                    <a href="[!--titleurl--]" class="list-group-item list-group-item-action">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-12 col-lg-9">
                                <div class="text-row-1">
                                    [!--smalltext--]
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 text-lg-right">
                                <small>[!--newstime--]</small>
                            </div>
                        </div>
                    </a>
                    <a href="[!--titleurl--]" class="list-group-item list-group-item-action">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-12 col-lg-9">
                                <div class="text-row-1">
                                    [!--smalltext--]
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 text-lg-right">
                                <small>[!--newstime--]</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>