<footer class="push container-fluid bg-light" id="footer">
    <div class="container py-6">
<div class="row justify-content-center">

<nobr><table border="0" cellspacing="0" cellpadding="0"><tbody><tr><td><a href="http://www.free-counter.jp/"><img src="https://www.f-counter.net/ani1/32/1570602203/" alt="カウンター" border="0" style="margin:0px; padding:0px; border:0px; vertical-align:bottom"></a></td>
<td><a href="http://www.free-counter.jp/"><img src="https://www.f-counter.net/ani2/32/1570602203/" alt="カウンター" border="0" style="margin:0px; padding:0px; border:0px; vertical-align:bottom"></a></td></tr></tbody></table></nobr>
</div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7">
                <div class="row no-gutters font-small font-vround">

              

                    <div class="col-12 col-sm-2 text-center">
                        <img class="mx-2 mb-2" src="/assets/img/ui/logo-footer.png" srcset="/assets/img/ui/logo-footer@2x.png 2x" alt="JCT Provider">
                    </div>
                    <div class="col-12 col-sm-10">
                        <div class="text-muted">Copyright &copy;2018 Jung Chung Technology Corp.</div>
                        <div class="text-muted">Hsinchu office: No.33, Wencai St.,Zhubei City, Hsinchu County, 302, Taiwan(R.O.C)</div>
                        <hr>
                        [!--class.menu--]
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- global -->
<script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/assets/js/vendor/jquery.pushy.min.js"></script>
<script src="/assets/js/custom.js"></script>

</body>
</html>