[class^="icon-"],
[class*="icon-"] {
	position:relative;
    // top:-2px;
    display: inline-block;
    vertical-align: middle;
    @include text-hide;
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-more-primary {
    width: 6px;
    height: 12px;
    background-image: url(#{$path-ui}icon-more-primary.png);
    // @include retina-2x-background-image("#{$path-ui}icon-more-primary", "png", 8px, 16px);
}
.icon-more-success {
    width: 6px;
    height: 12px;
    background-image: url(#{$path-ui}icon-more-success.png);
    // @include retina-2x-background-image("#{$path-ui}icon-more-success", "png", 8px, 16px);
}
.icon-side-contact {
    width: 53px;
    height: 53px;
    background-image: url(#{$path-ui}icon-side-contact-primary.png);
    // @include retina-2x-background-image("#{$path-ui}icon-side-contact-primary", "png", 53px, 53px);
}
.icon-side-products {
    width: 53px;
    height: 53px;
    background-image: url(#{$path-ui}icon-side-products-primary.png);
    // @include retina-2x-background-image("#{$path-ui}icon-side-products-primary", "png", 53px, 53px);
}
.btn {
    &:hover,
    &:active,
    &:focus {
        .icon-more-primary,
        .icon-more-success {
            background-image: url(#{$path-ui}icon-more-white.png);
            // @include retina-2x-background-image("#{$path-ui}icon-more-white", "png", 8px, 16px);
        }
        .icon-side-contact {
            background-image: url(#{$path-ui}icon-side-contact-white.png);
            // @include retina-2x-background-image("#{$path-ui}icon-side-contact-white", "png", 53px, 53px);
        }
        .icon-side-products {
            background-image: url(#{$path-ui}icon-side-products-white.png);
            // @include retina-2x-background-image("#{$path-ui}icon-side-products-white", "png", 53px, 53px);
        }
    }
}